<h1>Create account</h1>

<form action="/users/create" method="post">
  Name:
    <input type="text" name="name"><br>
  Username:
    <input type="text" name="username".><br>
  Password:
    <input type="text" name="password"><br>
  Email:
    <input type="text" name="email"><br>


  List your top 5 travel destinations:<br>
  (If you don't see your destination on a dropdown, just pick one of the available ones.  You can add destinations later and edit your profile to reflect that.)<br>

  <select name="destination_id_1">
    <option value=0>Select a destination...</option>
      <%@destinations.each do |d| %>
        <option value="<%=d.id%>">
         <%=d.name%>
        </option>
      <%end%>
  </select><br>

  <select name="destination_id_2">
    <option value=0>Select a destination...</option>
      <%@destinations.each do |d| %>
        <option value="<%=d.id%>">
         <%=d.name%>
        </option>
      <%end%>
  </select><br>

  <select name="destination_id_3">
    <option value=0>Select a destination...</option>
      <%@destinations.each do |d| %>
        <option value="<%=d.id%>">
         <%=d.name%>
        </option>
      <%end%>
  </select><br>

  <select name="destination_id_4">
    <option value=0>Select a destination...</option>
      <%@destinations.each do |d| %>
        <option value="<%=d.id%>">
         <%=d.name%>
        </option>
      <%end%>
  </select><br>

  <select name="destination_id_5">
    <option value=0>Select a destination...</option>
      <%@destinations.each do |d| %>
        <option value="<%=d.id%>">
         <%=d.name%>
        </option>
      <%end%>
  </select><br>


  How much are you willing to spend on a ticket?
    $<input type="integer" name="budget"><br>
    <input type="submit" value="Submit">
</form>

<a href="/">Home</a>