<h1><%= @user.username %></h1>

<% @choices.each do |choice| %>
  <%= choice.destination_id %><br>
<% end %>

<form action="/users/<%= @user.id %>/process_search" method="get">
  <input type="submit" value="GTFOmaha">
</form>

<form action="/users/<%= @user.id %>/edit" method="get">
  <input type="submit" value="Edit">
</form>

<form action="/users/<%= @user.id %>/delete" method="post">
  <input type="submit" value="Delete">
</form>

<form action="/logins/delete" method="get">
  <input type="submit" value="Log out">
</form>