<div class="container">
  <h1><%= @user.username %></h1>
</div>
<div class="container">
  <% @user.get_airport_codes(@user.id).each do |code| %>
    <%= code %> -- <%= Destination.find_by_airport_code(code).name %><br>
  <% end %> 

  <form action="/users/<%= @user.id %>/process_search" method="get">
    <button class="btn btn-default-outline" type="button">
      <span class="icon icon-aircraft"></span>
      GTFOmaha
    </button>
  </form>

  <form action="/users/<%= @user.id %>/edit" method="get">
    <input type="submit" value="Edit">
  </form>

  <form action="/users/<%= @user.id %>/delete" method="post">
    <input type="submit" value="Delete">
  </form>

</div>
<div class="container">
  <a href="/destinations/index"> Click here</a> to view or add destinations
</div>