<!-- Want to do a little bit of styling on here to get the destinations to all show up right on top of each other with the buttons off to the side instead of between all of them.  Was focused on the main functionality bit and refactoring, but should have time to look at this now. -->

<div class="container">
  <h1>All Destinations </h1>
</div>
<div class="container">
  <form action="/destinations/new" method="get">
    <input type="submit" value="Add a destination">
  </form><br>

  <% @destinations.each do |d| %>
  <%= d.name %> -- <%= d.airport_code %>

  <form action="/destinations/<%= d.id %>/edit" method="get">
    <input type="submit" value="Edit"> </form>

  <form action="/destinations/<%= d.id %>/delete" method="post">
    <input type="submit" value="Delete">
  </form>
  <br>
  <% end %>
</div>
<div class="container">
  <a href="/users/<%=session["user_id"] %>/profile">Back</a>
</div>
